html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "IBM Plex Mono", sans-serif;
  background-color: #000;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
p,
a {
  letter-spacing: -0.03em;
}

div.introduction {
  height: 765px;
  background-image: url(../resources/fullscreen-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

header {
  padding-top: 33px;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 15px;
}

.header__nav {
  vertical-align: top;
  float: right;
}

.header__wrapper {
  margin-right: 42px;
  display: inline-block;
}

.header__link {
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  text-decoration: none;
}

.header__wrapper_right {
  margin-right: 0;
}

.header__link:hover {
  color: #1bff07;
}

div.introduction {
  position: relative;
}

section.about {
  position: absolute;
  bottom: 88px;
  width: 100%;
}

.about__text {
  width: 430px;
  margin-bottom: 29px;
  font-size: 20px;
  color: #fff;
  line-height: 26px;
}

h1 {
  width: 951px;
  margin-left: -3px;
  font-size: 80px;
  line-height: 70px;
  color: #1bff07;
  letter-spacing: -0.03em;
}

.projects {
  padding-top: 150px;
  margin-bottom: 150px;
}

.projects__title {
  margin-bottom: 40px;
  font-size: 55px;
  color: #fff;
  line-height: 72px;
}

.project {
  position: relative;
  width: 1150px;
  height: 550px;
  background-image: url(../resources/project1.png);
  background-size: cover;
}

.project:nth-last-child(2) {
  background-image: url(../resources/project2.png);
}

.project:last-child {
  background-image: url(../resources/project3.png);
  margin-bottom: 80px;
}

.project__title {
  margin-bottom: 5px;
  font-size: 35px;
  line-height: 46px;
  color: #fff;
}

.project__text {
  font-size: 30px;
  line-height: 39px;
  color: #fff;
}

.project__wrapper {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.projects__btn {
  display: block;
  width: 582px;
  height: 153px;
  padding-top: 60px;
  border-radius: 10px;
  background-color: #1bff07;
  font-size: 30px;
  text-align: center;
  color: #000;
  text-decoration: none;
}

.projects__btn:hover {
  border: 1px solid #1bff07;
  color: #1bff07;
  background-color: #000000;
}

.skills {
  margin-bottom: 150px;
  color: #fff;
}

.skills__title {
  margin-bottom: 46px;
  font-size: 55px;
  color: #fff;
  line-height: 72px;
}

.skill {
  margin-bottom: 60px;
}

.skill__title {
  margin-bottom: 15px;
  font-size: 35px;
  color: #1bff07;
  line-height: 46px;
}

.skill__title::before {
  margin: 0 0 16px 2px;
  width: 45px;
  height: 44px;
  display: block;
  content: "";
  background-image: url(../resources/skills-image1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.skill__title_js::before {
  background-image: url(../resources/skills-image2.png);
}

.skill__title_frameworks::before {
  background-image: url(../resources/skills-image3.png);
}

.skill__title_adaptive {
  width: 651px;
}

.skill__title_adaptive::before {
  background-image: url(../resources/skills-image4.png);
}

.skill__text {
  width: 778px;
  line-height: 29px;
  font-size: 22px;
}

.services {
  margin-bottom: 147px;
}

.service {
  margin-bottom: 74px;
}

.service:nth-last-child(2) {
  margin-bottom: 137px;
}

.service:last-child {
  margin-bottom: 0;
}

.services__title {
  width: 430px;
  margin-bottom: 70px;
  font-size: 35px;
  color: #fff;
  line-height: 46px;
}

.service__wrapper {
  height: 283px;
  padding: 40px 0 0 40px;
  border-radius: 30px;
  background-color: #191c19;
}

.service__wrapper:last-child {
  padding-top: 38px;
}

.service__title {
  margin-bottom: 15px;
  font-size: 55px;
  color: #1bff07;
  line-height: 72px;
}

.service__text {
  width: 749px;
  font-size: 22px;
  color: #fff;
  line-height: 29px;
}

.contacts {
  margin-bottom: 150px;
}

.contacts__wrapper {
  padding-top: 315px;
  height: 717px;
  background-image: url(../resources/contacts-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 30px;
}

.contacts__title {
  margin-bottom: 28px;
  font-size: 35px;
  line-height: 60px;
  color: #fff;
}

.contact {
  margin-bottom: 20px;
}

.contact:last-child {
  margin-bottom: 0;
}

.contact__link {
  text-decoration: none;
  font-size: 60px;
  line-height: 100%;
  color: #fff;
}

.contact__link:hover {
  color: #1bff07;
}

.footer {
  padding: 73px 0 25px 0;
  background-color: #ffffff;
  border-radius: 30px 30px 0 0;
}

.footer__text {
  margin-bottom: 72px;
  line-height: 30px;
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  color: #000;
}

.footer__rules {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  color: #000;
  opacity: 0.5;
}
